.nav-menu{
    gap: 50px;
}
.nav-menu li{
    cursor: pointer;
}
#hr1{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background:black;
}
.nav-login-cart button{
    border: 1px solid #7a7a7a;
    border-radius: 75px;
}